= form_for [:admin, @administrator] do |f|
  %table
    %tr
      %th{:colspan => 2} Add Administrator
    %tr
      %td{:align => 'right'} first name:
      %td= f.text_field :first_name, :placeholder => 'Bill'
    %tr
      %td{:align => 'right'} last name:
      %td= f.text_field :last_name, :placeholder => 'Jones'
    %tr
      %td{:align => 'right'} username:
      %td= f.text_field :username, :placeholder => 'bjones'
    %tr
      %td{:align => 'right'} password:
      %td= f.text_field :password
    %tr
      %td{:colspan => 2}= f.submit :class => 'button'