= form_for [:admin, @administrator] do |f|
  %table.striped-right{:style => 'width: 465px'}
    %tr
      %th{:width => 125} first name:
      %td= f.text_field :first_name, :placeholder => 'Bill'
    %tr
      %th last name:
      %td= f.text_field :last_name, :placeholder => 'Jones'
    %tr
      %th username:
      %td= f.text_field :username, :placeholder => 'bjones'
    %tr
      %th password:
      %td= f.text_field :password
  
  = f.submit :class => 'button', :style => 'width: 465px'