%h2= "Administrator :: #{@administrator.name}"

%ul#actions
  %li= link_to '&laquo; All Administrators'.html_safe, admin_administrators_path
  %li= link_to '# Edit', edit_admin_administrator_path(@administrator), :class => 'fancybox'
  %li= link_to 'x Delete', admin_administrator_path(@administrator), :method => :delete, :confirm => "Are you sure you want to delete #{@administrator.name}? This action cannot be undone!"

%table.striped-right{:style => 'width: 400px'}
  %tr
    %th{:width => 125} first name:
    %td= @administrator.first_name
  %tr
    %th last name:
    %td= @administrator.last_name
  %tr
    %th username:
    %td= @administrator.username