%h2= "#{@profile.name} :: #{@scholar.name}"

%table.striped-right
  %tr
    %th{:width => 100} name
    %td= "#{@scholar.name}"
  %tr
    %th username
    %td= @scholar.username
  %tr
    %th birthdate
    %td= "#{@scholar.birthdate} (#{@scholar.age})"
  %tr
    %th grade
    %td= "#{Scholar::GRADES[@scholar.grade.to_s.to_sym]} (#{@scholar.grade})"
  %tr
    %th school
    %td= link_to @scholar.school.name, admin_school_path(@scholar.school)

- if @assignment.is_completed?
  = form_tag admin_scholar_profile_code_path(@scholar, @profile) do
    #snapshots
      - special = true
      - @profile.snapshots.each do |snapshot|
        .snapshot{:style => 'display:block;'}
          %h2= snapshot.name
          %h3= snapshot.subtitle
          %table.striped{:width => '100%'}
            %tr
              %th Scholar's Response
              %th Code
            - snapshot.questions.each do |question|
              - if question.is_codeable?
                = render :partial => 'codeable_question', :locals => { :question => question, :scholar => @scholar, :special => special }
              - else
                = render :partial => 'uncodeable_question', :locals => { :question => question, :scholar => @scholar }
              - special = false
      = submit_tag :submit, :class => 'button', :style => 'width: 100%;'
- else
  %div.flash.alert= "Warning! This profile has not been completed yet!"