= form_for [:admin, @scholar] do |f|
  %table.striped-right{:style => 'width: 485px'}
    %tr
      %th{:width => 150} choose class:
      %td= f.select :klass_id, Klass.all.collect{|k| [k.name, k.id, :'data-password' => k.default_password]}, :include_blank => 'Select Class...'
    %tr
      %th first name:
      %td= f.text_field :first_name, :placeholder => 'Bill'
    %tr
      %th last name:
      %td= f.text_field :last_name, :placeholder => 'Jones'
    %tr
      %th username:
      %td= f.text_field :username, :placeholder => 'bjones'
    %tr
      %th password:
      %td= f.text_field :password
    %tr
      %th birthdate:
      %td= f.text_field :birthdate, :placeholder => '1/1/2011', :value => (@scholar.birthdate.strftime('%m/%d/%Y') unless @scholar.birthdate.blank?)
    %tr
      %th grade:
      %td= f.select :grade, Scholar::GRADES.invert, :include_blank => 'Select Grade...'
    %tr
      %th school:
      %td= f.select :school_id, School.all.collect{|s| [s.name, s.id]}, :include_blank => 'Select School...'

  = f.submit :class => 'button', :style => 'width: 485px'

:javascript
  $('#scholar_username').focus(function(){
    var first_name = $('#scholar_first_name').val().toLowerCase();
    var last_name = $('#scholar_last_name').val().toLowerCase();
    $(this).val(first_name[0]+last_name);
  });

  $('#scholar_klass_id').change(function(){
    var password = $(this).find(':selected').data('password');
    $('#scholar_password').val(password);
  });