%h1= "Scholar :: #{@scholar.name}"

= link_to '[~] Edit', edit_admin_scholar_path(@scholar)
= link_to '[x] Delete', admin_scholar_path(@scholar), :method => :delete, :confirm => "Are you sure you want to delete #{@scholar.name}? This action cannot be undone!"

.left
  %table
    %tr
      %th class:
      %td= link_to @scholar.klass.name, admin_klasses_path(@scholar.klass)
    %tr
      %th first name:
      %td= @scholar.first_name
    %tr
      %th last name:
      %td= @scholar.last_name
    %tr
      %th username:
      %td= @scholar.username
    %tr
      %th password:
      %td= @scholar.password
    %tr
      %th birthdate:
      %td= "#{@scholar.birthdate} #{@scholar.age}"
    %tr
      %th grade:
      %td= Scholar::GRADES[@scholar.grade.to_s.to_sym]
    %tr
      %th school:
      %td= link_to @scholar.school.name, admin_schools_path(@scholar.school)

.right
  %table
    %tr
      %th{:colspan => 2} Starting Point Profile
    %tr
      %td= link_to 'Starting Point Profile', admin_scholar_profile_path(@scholar, @spp.profile)
      %td= @spp.status

  / %table
  /   %tr
  /     %th{:colspan => 2} Check Point Profile
  /   %tr
  /     %td= link_to 'Check Point Profile', admin_profile_path(@cpp.profile_id)
  /     %td= @cpp.status
  
= link_to 'Show All Scholars', admin_scholars_path