%ul#steps
  %li= link_to 'step 1', step_path('starting-point-profile')
  %li= link_to 'step 2', step_path('journey-book-info')
  %li= link_to 'step 3', step_path('journey-book-chapter-1')
  %li= link_to 'step 4', step_path('journey-book-chapter-2')
  %li= link_to 'step 5', step_path('journey-book-chapter-3')
  %li= link_to 'step 6', step_path('journey-book-contents')
  %li= link_to 'step 7', nil