%ul#admin_nav
  %li= link_to 'Home', admin_root_path
  %li= link_to 'Scholars', admin_scholars_path
  %li= link_to 'Administrators', admin_administrators_path
  %li= link_to 'Classes', admin_klasses_path
  %li= link_to 'Schools', admin_schools_path
  %li= link_to 'Starting Point Profiles', admin_profile_path(Profile::SPP)
  %li= link_to 'Check Point Profiles', admin_profile_path(Profile::CPP)
  %li= link_to 'Reporting', admin_reporting_path