!!!
%html
  %head
    %title Decision Makers :: Admin
    = stylesheet_link_tag %w(admin-styles fancybox jquery-ui), :media => :screen, :cache => false
    = stylesheet_link_tag %w(print), :media => :print, :cache => false
    = javascript_include_tag %w(jquery jquery-ui jquery-ujs fancybox highcharts exporting application), :cache => false
    = csrf_meta_tag
    
  %body
    #header
      %h1 Decision <span>Makers<span>
    = render :partial => 'shared/nav'
    #wrapper
      = render :partial => 'admin/shared/nav' if current_user.is_a?(Administrator)
      - flash.each do |flash_name, value|
        %div{:class => flash_name}!= value
      
      = yield